doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor.css')
		link(rel='stylesheet', href='/style.css')


	body
		block content
		script(src="/vendor.dll.js")
		script(src="/bundle.js")